.footer{
   position:relative;
    bottom:0;
    width:100%;
    height:10%;   
    background:orange;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}