.container{
width: 100%;
margin-left: auto;
margin-right: auto;
padding: 0.5%;
}

.flex-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c{
display: flex;
justify-content: center;
align-items: center;
}

.brand{
    font: size 20px;
    font-weight: bolder;
    border-radius: 10px;
    border-width: 1px;
}

a{
    margin: 0px 1%;
    text-decoration: none;
    color: black;
    font-weight: bold;

}
a:hover{
    color: rgb(20, 20, 105);
    opacity: 80%;
}
a:active{
    color: rgb(20, 20, 105);
}
.b-p{
    background-color: rgba(255, 60, 0, 0.76);
}