<app-navbar></app-navbar>
<div *ngIf="HandlestudentsRoute()" class="grid">
    <div class="" *ngFor="let student of students">
        <app-student [data]="student"></app-student>
     </div>
</div>
<div *ngIf="HandlestudentswbalanceRoute()" class="grid">
    <div class="" *ngFor="let student of students">
        <app-student [data]="student"></app-student>
     </div>
</div>
<div *ngIf="HandlestudentswotRoute();" class="grid">
    <div class="" *ngFor="let student of students">
        <app-student [data]="student"></app-student>
     </div>
</div>

 <label *ngIf="isEmpty()" class="message"> No Student !!</label>
<app-footer></app-footer>
