<div class="card">
<div class="card-header">
    <h4  class="flex-center"><b>Name :</b>{{data.name}}</h4> 
    <h4 class="flex-center"><b>AdmNo :</b>{{data.reg}}</h4> 
</div>
<div class="card-body">
    <fieldset class="card-header">
        <legend>Education</legend>
        <h5  class="flex-center"><b>School :</b>{{data.school}}</h5> 
        <h5 class="flex-center"><b>Course :</b>{{data.course}}</h5>
    </fieldset>
    <fieldset class="card-header">
        <legend>Contacts</legend>
        <h5 class="flex-center"><b>Phone :</b>{{data.contact.phone}}</h5> 
        <h5 class="flex-center"><b>Email :</b>{{data.contact.email}}</h5>
    </fieldset>

</div>

</div>
